{% extends "main.html" %}
{% block body %}
<div class ="main">
    <section class="hero">
        
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <section class="threecolumn">
        {% for model in results %}
        <div class="thumbnailbackground round">
            <a href="/model/{{model[0]}}">
                <!-- image inside div cuz image does not like being positioned properly -->
                <div class="container transparent">
                    <img src="../static/images/{{model[3]}}" class="roundup">
                </div>
            </a>
            <p class="container containertext rounddown">{{model[1]}}</p>
        </div>
        {% endfor %}
    </section>
</div>
{% endblock %}