<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">

    <title>3d model web app</title>
</head>

<body>
    <div class="w3-bar w3-black">
        <a href="/" class="w3-bar-item w3-button">Explore</a>
    </div>

    {% block body %}

    {% endblock %}
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>