{% extends "main.html" %}
{% block body %}
<!-- <div class ="main"> -->
    <section class="hero">
    
    </section>
    <p class="container containertext roundup modelText">{{result[1]}}</p>
    <div class="centre" id="3dcanvas">
    </div>
        
    <script type="importmap">
        {
            "imports": {
                "three": "https://esm.sh/three",
                "three/addons/": "https://esm.sh/three/examples/jsm/"
            }
        }
    </script>
    <script src="{{ url_for('static', filename='main.js') }}" type="module"></script>
<!-- </div> -->
{% endblock %}